body{
    font-size: 20px;
    font-family: monospace;
}

#start-button{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    /* border : 2px solid lightgrey; */
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}

.choice:hover{
    color : grey;
}